.vfrc-chat--session-time,
.vfrc-chat--status {
  display: none;
}

.vfrc-timestamp {
  color: transparent;
}

.vfrc-chat-input input {
  background-image: none;
}
.vfrc-chat-input input::-moz-placeholder {
  color: transparent;
}
.vfrc-chat-input input::placeholder {
  color: transparent;
}

button.vfrc-button--primary {
  position: relative;
  color: transparent !important;
}
button.vfrc-button--primary::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  color: #ffffff;
}
button.vfrc-button--primary[label=Cancel]::after {
  color: rgba(0, 0, 0, 0.9);
}

.vfrc-chat-input input:-moz-placeholder-shown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='verdana' font-size='15'>Mensagem...</text></svg>");
  background-repeat: no-repeat;
}

.vfrc-chat-input input:placeholder-shown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='250px'><text x='15' y='25' fill='silver' font-family='verdana' font-size='15'>Mensagem...</text></svg>");
  background-repeat: no-repeat;
}

button.vfrc-button--primary::after {
  content: "Nova Conversa";
}
button.vfrc-button--primary[label="End Chat"]::after {
  content: "Finalizar";
}
button.vfrc-button--primary[label=Cancel]::after {
  content: "Cancelar";
  color: rgba(0, 0, 0, 0.9);
}
